{{yield}}
<article class="listing">
    <h3>{{note.title}}</h3>
    <div>
        <div class='detail owner'>
            <span>By:</span> {{note.owner}}
        </div>

        <div class="detail location">
            <span>Where:</span> {{note.location}}
        </div>

        <div class="detail type">
            <span>Type: </span>{{note-item-type note.noteType}} - {{note.noteType}}
        </div>

        <div>
            <h3>Description:</h3>
            <p>{{note.description}}</p>
        </div>

        <a {{action 'toggleImageSize'}} class="image {{if isWide " wide "}}">

            <img src="{{note.image}} " alt=" ">
            <small>View Larger</small>
        </a>

    </div>
</article>