{{outlet}}

<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Make some new notes!</h2>

    <h3>Or read your previous notes</h3>
    {{#each model as |note| }}
    <article class="note">
        <h3>{{note.title}}</h3>
        <div>
            <h4>By: {{note.owner}}</h4>
            <h4>Where: {{note.location}}</h4>
            <span>Description:</span>
            <p>{{note.description}}</p>
        </div>
    </article>
    {{/each}}
</div>